@model EnrollmentSystem.Web.MVC.ViewModels.CreateAccountFormViewModel
@{
                /**/

                Layout = null;
}

@using (Html.BeginForm("Create", "AccountManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h5 class="modal-title">Edit Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.FirstName)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.FirstName, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.LastName)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.LastName, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.EmailAddress)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.EmailAddress, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Gender)
                </div>
                <div class="col-6">
                    @Html.EnumDropDownListFor(x => x.Gender, "", new { @class = "form-control" })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.AccountType)
                </div>
                <div class="col-6">
                    @Html.EnumDropDownListFor(x => x.AccountType, "", new { @class = "form-control" })
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}