@model IEnumerable<AccountViewModel>

<div class="row mb-2">
    <div class="col">
        @Html.FontAwesomeActionLink("fas fa-plus", "New Account", "Create", "AccountManagement", null, new { @class = "btn btn-block btn-primary loadDynamicModal" })
    </div>
</div>

<div id="result-wrapper">
    @if (Model.Count() > 0)
    {
        foreach (var Account in Model)
        {
            <div class="row mb-2">
                <div class="col-12">
                    <div class="card card-inverse">
                        <div class="card-block">
                            <div class="row mb-2">
                                <div class="col-md-8 col-sm-8">
                                    <span class="badge bg-info">@Account.AccountType</span>
                                </div>
                                <div class="col-md-2 col-sm-2 text-center">
                                    @Html.FontAwesomeActionLink("fas fa-edit", "", "Edit", "AccountManagement", new { ID = Account.ID }, new { @class = "btn btn-block btn-secondary loadDynamicModal" })
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    @Html.FontAwesomeActionLink("fas fa-times", "", "Remove", "AccountManagement", new { ID = Account.ID }, new { @class = "btn btn-block btn-danger loadDynamicModal" })
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row mb-2">
                                <div class="col-md-8 col-sm-8">
                                    <h2 class="card-title">Name: @Account.FirstName @Account.LastName</h2>
                                    <p class="card-text"><strong>Email: </strong> @Account.EmailAddress </p>
                                    <p class="card-text"><strong>Birthdate: </strong> @Account.BirthDate </p>
                                    <p class="card-text"><strong>Gender: </strong> @Account.Gender </p>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <img class="btn-md rounded-circle" src="@Account.ProfileImage" alt="@Account.EmailAddress" height="128" width="128">
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1 class="text-center">No Results</h1>
    }
</div>