@model CreateSubjectFormViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Create", "SubjectManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h5 class="modal-title">Create Subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Code)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.Code, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Title)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.Title, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Description)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.Description, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Unit)
                </div>
                <div class="col-6">
                    @Html.EditorFor(x => x.Unit, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}