@model EditSubjectFormViewModel

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Code)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.Code, "", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Title)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.Title, "", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Description)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.Description, "", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Unit)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.Unit, "", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Lecture)
    </div>
    <div class="col-6">
        @Html.CheckBoxFor(x => x.Lecture, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Lecture)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Laboratory)
    </div>
    <div class="col-6">
        @Html.CheckBoxFor(x => x.Laboratory, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Laboratory)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.PrerequisiteIDs)
    </div>
    <div class="col-6">
        @foreach (var Subject in Model.AllSubjects)
        {
            <div class="row">
                <div class="col-12">
                    <input type="checkbox"
                           name="PrerequisiteIDs" value="@Subject.ID" id="@Subject.ID"
                           @{if (Model.PrerequisiteIDs.Contains(Subject.ID)) { <text> checked='checked' </text>  } } />
                    <label for="@Subject.ID">@Subject.Title</label>
                </div>
            </div>
        }
    </div>
</div>