@model EditAccountFormViewModel

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.ProfileImage)
    </div>
    <div class="col-6">
        @Html.UploadFor(x => x.ProfileImage)
        @Html.ValidationMessageFor(x => x.ProfileImage)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.FirstName)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.FirstName, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.LastName)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.LastName, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.EmailAddress)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.EmailAddress, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.Gender)
    </div>
    <div class="col-6">
        @Html.EnumDropDownListFor(x => x.Gender, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Gender)
    </div>
</div>

<div class="row mb-2">
    <div class="col-6">
        @Html.DisplayNameFor(x => x.BirthDate)
    </div>
    <div class="col-6">
        @Html.EditorFor(x => x.BirthDate, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.BirthDate)
    </div>
</div>